html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #efefef;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.wrapper {
  background-color: #fdfdfd;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 70%;
}

.css-link span {
    color: #4372aa;
    cursor: pointer;
    text-decoration: underline;
}

.css-link span:hover {
    color: #233f61;
}

@media (max-width: 768px) {
  .wrapper {
      width: 100%;
  }
}
